@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/*permite guardar una variable en css*/
:root{
    --ff-primary: "DM Sans", sans-serif;
    --neutral-0:#ffffff;
    --neutral-100:#f0f1f5;
    --neutral-600:#1d1e20;
    --primary-200:#cbc8ff;
    --primary-300: #987bed;
    --primary-500:#673de5;
}
*{
    font-family: var(--ff-primary);
    margin:0;
    padding:0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
.pill{
    padding:4px 12px;
    border-radius:50px;
    text-align: center;
    background-color: var(--neutral-100);
}
/*clase modificadora de pill*/
.pill--primary-200{
    background-color: var(--primary-200);
}
.bg--neutral-100{
    background-color: var(--neutral-100);
}
.title{
    font-size: 56px;
    font-weight: 400;
    text-align: center;
    line-height: 64px;
}
.subtitle{
    font-size: 40px;
    font-weight: 400;
    text-align: start;
    line-height: 45px;
}
.paragraph{
    font-size: 16px;
    line-height: 24px;
}
.link{
    font-weight: 700;
    font-size: 14px;
    color:var(--primary-500);
    text-decoration: none;
}
.mails-section{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:104px 0;
}
.section-content{
    width: 1958px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.mails-section__article-container{
    display:flex;
    flex-direction: row;
    gap:20px;
}
.feature-article{
    flex:1;
    background-color: var(--neutral-0);
    border-radius: 16px;
    padding: 48px 32px 0;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: start;
}
.feature-article__image{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
}
.feature-article__image img{
    width: 100%;
}
.section-header{
    display:flex;
    flex-direction: column;
    gap:16px;
    align-items: center;
}
.feature-list{
    display:flex;
    flex-direction: column;
    gap:8px;
}
.feature-list .bi-check{
    color:var(--primary-500);
    font-size: 16px;
    font-weight: 400;
    height:16px;
    line-height:24px;
   
}
/*
CONDICIONES
si el ancho de mi pagina es < a 70px ==> ejecutare este codigo de css*/
@media screen and (max-width: 700px){
    .mails-section{
        background-color: blue;
        flex-direction: column;
    }
    .section-content{
        width: 90%;
    }
    .mails-section__article-container{
        width:90%;
        display:flex;
        flex-direction: column;
        
    }
}

@media  screen and (max-width: 350px){
    .section-content{
        background-color: rgb(0, 0, 0);
    }
}
